<html>
<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111111;
    }
    </style>
</head>
<body>
    <ul>
        <li><a href="{% url 'Home'%}">Home</a></li>
        <li><a href="{% url 'Login'%}">Login</a></li>
        <li><a href="{% url 'Register'%}">Register</a></li>
        <li><a href="#">About</a></li>
      </ul>
      {% block content %}
      
      {% endblock  %}
</body>
</html>